$blue: #A4AFFD;
$orange: #F87060;
$gray-100: #efefef;

@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-weight: 400;
  src:
    url('public/fonts/Kollektif.ttf') format('truetype');
}

.display-1 {
  -webkit-text-stroke-width: 0.035em;
  -webkit-text-stroke-color: black;
}

.jpmc {
  width: 30%;
  height: auto;
}

body {
  font-family: 'Kollektif' !important;
}

.bg-blue {
  background-color: $blue;
}

.container-fluid {
  padding: 0 !important;
}

.jumbotron {
  margin-top: 4rem;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.social-button {
  color: black;
}

.social-button:hover {
  color: $orange;
  text-decoration: none;
}

.banner {
  position: relative;
}

.over-img {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: white;
}

@import "node_modules/bootstrap/scss/bootstrap";