$blue: #A4AFFD;
$orange: #F87060;
$gray-100: #efefef;

@font-face {
  font-family: 'Kollektif';
  font-style: normal;
  font-weight: 400;
  src:
    url('assets/fonts/Kollektif.ttf') format('truetype');
}

body {
  font-family: 'Kollektif' !important;
}

.bg-blue {
  background-color: $blue;
}

.container-fluid {
  padding: 0 !important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
}

.over-img {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: white;
}

@import "node_modules/bootstrap/scss/bootstrap";